$xs-breakpoint: 599.99px;
$sm-breakpoint: 1023.99px;
$md-breakpoint: 1439.99px;
$lg-breakpoint: 1919.99px;

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $xs-breakpoint) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: $sm-breakpoint) {
  .container,
  .container-sm,
  .container-md {
    max-width: 920px;
  }
}

@media (min-width: $md-breakpoint) {
  .container,
  .container-sm,
  .container-md,
  /*
  .container-lg {
    max-width: 1140px;
  }
  */
  .container-lg {
    max-width: $md-breakpoint;
  }
}

@media (min-width: $lg-breakpoint) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  /*
  .container-xl {
    max-width: 1440px;
  }
  */
  .container-xl {
    max-width: $md-breakpoint;
  }
}

footer {
  background-color: red !important;
}

.text-primary-50 {
  color: #e1f4ee !important;
}

.bg-primary-50 {
  background: #e1f4ee !important;
}

.text-primary-300 {
  color: #56c09f !important;
}

.bg-primary-300 {
  background: #56c09f !important;
}

.text-accent-50 {
  color: #e3f1fe !important;
}

.bg-accent-50 {
  background: #e3f1fe !important;
}

.text-base {
  color: #2a2a2a !important;
}

.body-base {
  background: #2a2a2a !important;
}

.text-light {
  color: #fbfffe !important;
}

.body-light {
  background: #fbfffe !important;
}

.button-shadow {
  box-shadow: 0px 4px 15px 0px #80808040;
}
